body
{
    margin: 0px;
    padding: 0px;
    height: 2000px;
    background: linear-gradient(blue,red,green);
}
/*------------------------------------------------------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
/*------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------*/
/* Navbar */
#navbar
{
    position: fixed;
    width: 100%;
    height: 80px;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    top: 0px;
    font-family: Montserrat, Arial, sans-serif;
    font-weight: 700;
}
@keyframes acık
{
    0%
    {
        top: 0px;
    }
    100%
    {
        top: -100px;
    }
}
@keyframes kapalı
{
    0%
    {
        top: -100px;
    }
    100%
    {
        top: 0px;
    }
}
@keyframes acık2
{
    0%
    {
        top: 80px;
    }
    100%
    {
        top: -200px;
    }
}
@keyframes kapalı2
{
    0%
    {
        top: -200px;
    }
    100%
    {
        top: 80px;
    }
}
#nav_ul1
{
    list-style: none;
    top: 0px;
    position: relative;
}
.texts
{
    display: inline-block;
    margin: 10px;
    padding-left: 10px;
    position: relative;
    top: -5px;
}
.texts a:hover
{
    color: goldenrod;
}
.texts a
{
    color: black;
}
.icons
{
    display: inline-block;
    margin: 5px;
    position: relative;
    top: 0px;
}
.icons a:hover
{
    color: goldenrod;
}
.icons a
{
    color: black;
}
#navbar a
{
    text-decoration: none;
    top: center;
}
#brand_name
{
    text-decoration: none;
    color: black;
    position: relative;
    height: 100%;
    left: 20px;
}
#brand_name h1
{
    font-size: 20px;
    font-weight: 700;
    position: relative;
    top: 16;
}
#navbar  ul li a ion-icon
{
    font-size: 25px;
    font-weight: 400;
}
#border_icons
{
    border-left: 1px solid rgba(0, 0, 0, .3);
}
#ikinci_navbar
{
    position: fixed;
    width: 100%;
    height: 80px;
    background: rgb(255, 255, 255);
    display: none;
    justify-content: space-around;
    top: 80px;
    font-family: Montserrat, Arial, sans-serif;
    font-weight: 700;
    border-top: 1px solid rgba(0, 0, 0, .3);
}
#nav_ul2
{
    list-style: none;
    top: 0px;
    position: relative;
}
.texts2
{
    display: inline-block;
    margin: 5px;
    padding-left: 5px;
    position: relative;
    top: 10px;
    left: -20px;
}
.texts2 a:hover
{
    color: goldenrod;
}
.texts2 a
{
    color: black;
    text-decoration: none;
}
#navbar ul li button ion-icon
{
    font-size: 30px;
    font-weight: 400;
}
#navbar ul li button
{
    display: none;
    border: 1px soldid black;
    color: black;
    top: -2;
}
#navbar ul li button:hover
{
    color: goldenrod;
}
/*------------------------------------------------------------------------------------------------------------------*/
/* SEARCH KISMI */
#search_area
{
    display: flex;
    position: fixed;
    width: 100%;
    height: 60px;
    background: white;
    top: -100px;
    border-top: 1px solid black;
    justify-content: center;
}
#search_area form
{
    position: relative;
    display: flex;
    left: 0px;
    top: 10px;
    font-family: Montserrat, Arial, sans-serif;
    font-weight: 700;
    width: 100%;
    justify-content: space-around;
    background: none;
}
#search_area form label
{
    position: relative;
    display: inline-block;
    color: black;
    top: 10px;
    font-family: Montserrat, Arial, sans-serif;
    font-weight: 700;
}
#search_area form input
{
    position: relative;
    display: inline-block;
    top: 5px;
    border: none;
    height: 30px;
    border-radius: 5px;
    color: black;
    background: white;
    border: 1px solid black;
    border-radius: 0px;
    font-family: Montserrat, Arial, sans-serif;
    font-weight: 700;
}
#textareas
{
    width: 80%;
}
#submitbtn:hover
{
    background: black;
    color: white;
}
@keyframes search_area_open
{
    0%
    {
        top: -100px;
    }
    100%
    {
        top: 80px;
    }
}
@keyframes search_area_close
{
    0%
    {
        top: 80px;
    }
    100%
    {
        top: -100px;
    }
}
/*------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------*/
/*FOOTER_Bottom*/
#footer_bottom
{
    position: relative;
    width: 100%;
    height: 40px;
    background: #2F2F2F;
    top: 100%;
    left: 0px;
    display: flex;
    justify-content: space-between;

}
#footer_bottom ul
{
    list-style: none;
    background: none;
    height: 100%;
    position: relative;
    top: -15px;
}
#footer_bottom ul li
{
    display: inline-block;
    position: relative;
    top: 10px;
    padding-left: 10px;
    right: 20;
}
#footer_bottom ul li a
{
    color: #728972;
    font-family: Montserrat, Arial, sans-serif;
    font-weight: 400;
    text-decoration: none;
}
#footer_bottom ul li a:hover
{
    color: goldenrod;
}
#footer_bottom h1
{
    color: #728972;
    font-family: Montserrat, Arial, sans-serif;
    font-weight: 400;
    font-size: 15px;
    position: relative;
    left: 20px;
    user-select: none;
    background: none;
}
#footer_bottom2
{
    position: relative;
    width: 100%;
    height: 40px;
    background: #2F2F2F;
    top: 100%;
    left: 0px;
    display: none;
    justify-content: center;

}
#footer_bottom2 ul
{
    list-style: none;
    background: none;
    height: 100%;
    position: relative;
    top: -15px;
    left: -25px;
}
#footer_bottom2 ul li
{
    display: inline-block;
    position: relative;
    top: 10px;
}
#footer_bottom2 ul li a
{
    color: #728972;
    font-family: Montserrat, Arial, sans-serif;
    font-weight: 400;
    text-decoration: none;
}
#footer_bottom2 ul li a:hover
{
    color: goldenrod;
}
/*------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------*/
/*FOOTER*/
#footer_top
{
    background: #252525;
    position: relative;
    position: relative;
    width: 100%;
    height: 400px;
    top: 1560px;
}
.parent
{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    height: 100%;
    width: 100%;
}
    
    .div1 { grid-area: 1 / 1 / 3 / 3; background: red; display: flex;}
    .div1 h1 { position:absolute; color:  white; flex-align: center; background: yellow;}
    .div2 { grid-area: 3 / 1 / 5 / 3; background: red;}
    .div3 { grid-area: 1 / 3 / 5 / 4; background: red;}
    .div4 { grid-area: 1 / 4 / 5 / 5; background: red;}
    .div5 { grid-area: 1 / 5 / 3 / 7; background: red;}
    .div6 { grid-area: 3 / 5 / 5 / 7; background: red;}
/*------------------------------------------------------------------------------------------------------------------*/
/*Görünümler: 1800px ve aşağısı--TABLET*/
@media only screen and (max-width:1080px)
{
    #ikinci_navbar{display: flex;}
    #navbar{justify-content: space-between;}
    .texts{display: none;}
    #footer_bottom{justify-content: center;}
    #footer_bottom h1{left: 0px;}
    #footer_bottom ul{display: none;}
    #footer_bottom2{display: flex;}
    #footer{top: calc(100% - 480px);}
    /*--------------FOOTER-GRİD----------------------*/
    .parent {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(8, 1fr);
        grid-column-gap: 15px;
        grid-row-gap: 15px;
        }
        #footer_top
        {
            height: 600px;
            top: 1320px;
        }
        .div1 { grid-area: 1 / 1 / 3 / 3; }
        .div2 { grid-area: 1 / 3 / 3 / 5; }
        .div3 { grid-area: 3 / 1 / 5 / 3; }
        .div4 { grid-area: 3 / 3 / 5 / 5; }
        .div5 { grid-area: 5 / 2 / 9 / 3; }
        .div6 { grid-area: 5 / 3 / 9 / 4; }
}
/*Görünümler: 750px ve aşağısı--MOBİL*/
@media only screen and (max-width:750px)
{
    #ikinci_navbar{display: none;}
    #navbar{justify-content: space-between;}
    .texts{display: none;}
    #navbar ul li button{display: inline-block;}
    #navbar ul li a{top: -5;}
    /*--------------FOOTER-GRİD----------------------*/
    .parent {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(18, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 5px;
        width: 100%;
        height: 100%;
        }
        
        .div1 { grid-area: 1 / 1 / 4 / 2; }
        .div2 { grid-area: 4 / 1 / 7 / 2; }
        .div3 { grid-area: 7 / 1 / 10 / 2; }
        .div4 { grid-area: 10 / 1 / 13 / 2; }
        .div5 { grid-area: 13 / 1 / 16 / 2; }
        .div6 { grid-area: 16 / 1 / 19 / 2; }
}
